* {
    margin: 0;
    padding: 0;
}


.alice-regular {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    color: #573A37;
  }
  
  
body {
  background-image: url(imgfiles/bg-image.png) ;
  background-size: cover;
  background-color:#573824;  
  font-family: "Alice", serif;
}

#page {
    box-sizing: border-box;
    background-color: #F0E8C2;
    padding: 1.5rem;
    border-radius: 1.5rem;
    width: 50rem;
    height: 91.68rem;
    margin: 3rem auto;
    line-height: 150%;
}

main {
    padding: 1.5rem;

}

section + section {
    margin-top: 1.5rem;
  }
  
  #about p + p {
    margin-top: 0.75rem;
  }
  

h1 {
    line-height: 140%;
    font-size: 2.5rem;

}

h2 {
    font-size: 1.5rem;
}

h1, h2 {
    margin-bottom: 0.25rem;
    color: #291b1a;
    line-height: 150%;
}

img {
    border-radius: 1rem;
}

ul {
    padding-left: 1.5rem;
  }

footer {
    color: #F0E8C2;
    padding-bottom: 3rem;
    text-align: center;
    font-family: "Alice" serif;
    size: 1rem;
}

footer img {
    vertical-align: middle;
}

@media (max-width: 1024px) {
    #page {
      width: 90%;
      height: auto;
      padding: 1rem;
      margin: 2rem auto;
    }

    img {
        width: 100%;
        height: auto;
    }
    
    .heart {
        vertical-align: middle;
        width: auto;
        height: auto;
    }
    main {
      padding: 1rem;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.25rem;
    }
  }
  
  @media (max-width: 768px) {
    #page {
      width: 95%;
      padding: 1rem;
    }

    

    }
  
    h1 {
      font-size: 1.75rem;
    }
  
    h2 {
      font-size: 1rem;
    }
  
    ul {
      padding-left: 1rem;
    }
  
    footer {
      font-size: 0.875rem;
      padding-bottom: 2rem;
    }
  
